{{>header}}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<header class="main-header post-head no-cover">
 <nav class="main-nav">
   <a class="button" href="/">Home</a>
 </nav>


</header>
<div class="container post">
  <div class="row">
    <div class="twelve columns" >
      <h2 class="post-title">{{title}}</h2>
      {{{contents}}}
    </div>
  </div>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{{>footer}}
