{{>header}}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<header class="main-header post-head no-cover">
 <nav class="main-nav">
   <a class="button" href="/">Home</a>
 </nav>


</header>
<div class="container post">
  <div class="row">
    <div class="twelve columns" >
      <h2 class="post-title">{{title}}</h2>
      {{{contents}}}
    </div>
    <div class="twelve columns">
      <div id="disqus_thread"></div>
      <script>
        (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');

          s.src = '//gtothesquare.disqus.com/embed.js';

          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
  </div>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{{>footer}}
